<div class="search-list">
    <div class="search">
        <div class="search-img"></div>
        <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
        <button class="btn" type="button" (click)="searchByName()">
            Search
        </button>
    </div>
    <div class="list">
        <h3>Product List</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of products; let i = index">
                <img src={{product.image}} alt="">
                {{ product.name }}
            </li>
        </ul>
    </div>
    <!-- <iframe src="http://localhost:4200/" class="iframe"></iframe> -->
    <!-- https://www.ikea.co.il/catalogue/Workspaces -->
</div>